<!-- header -->
<%- include ('../partials/header.ejs') %> 
<!-- Main body -->
<%- include ('../partials/nav.ejs') %> 
<!-- Content for the add page -->
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-4">
                <h1><%= title %></h1>

                    <form class="form" method="POST">
                        <div class="form group">
                         <label for="nameTextField">Business Contacts List </label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Business Contact name"
                            name="name" required>
                            </div>

                            <div class="form group">
                                <label for="authorTextField">Contact Name </label>
                                <input type="text" class="form-control"
                                id="authorTextField"
                                placeholder="Enter family name"
                                name="author"required>
                                </div>

                            <div class="form group">
                                <label for="publishedTextField">Contact Number</label>
                                <input type="text" class="form-control"
                                id="publishedTextField"
                                placeholder="Enter Contact Number"
                                name="published" required>
                                </div>

                                <div class="form group">
                                    <label for="descriptionTextField">Email Address</label>
                                <textarea type="text" class="form-control"
                                id="descriptionTextField"
                                placeholder="Enter Email Address"
                                name="description" required>
                                </textarea>
                                </div>
                                
                                <!--  <div class="form group">
                                    <label for="priceTextField">Year</label>
                                <input type="text" class="form-control"
                                id="priceTextField"
                                placeholder="Enter the Books price"
                                name="price" required> -->
                                <br>
                                    <br>
                                </div>
                                    
                                    <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-edit btn-sm"></i> Add </button>
                                
                                    <a href="/book-list" class="btn btn-warning ">
                                        <i class="fas fa-undo btn-sm"></i>Cancel</a>
            </form>
        </div>
        </div>
    </div> 
</body>
</html>

<!--  footer -->
<%- include ('../partials/footer.ejs') %> 
    
<!-- All the code expressed here was taken from COMP-229 (Web app dev), 
following the steps of educational videos. Also the book Beginning Node.js, Express & MongoDB Development (2019)
by Greg Lim was consulted.  -->