   <!-- SCRIPT -->
 <!-- This part runs JS details, is important to add also jquery and bootstrap js file. -->
   <html>
   <footer>
   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

   <script src="/Scripts/app.js"></script>
 <!-- </body> -->
 <!-- <div class="wrapper_home"> 
    <h6>&reg;  Yoaltzin Xolalpa Briseño - 301184971</h6>
    <h6>  Assignment 1 </h6>
    </div> -->
 </footer>
</html>



<!-- All the code expressed here was taken from COMP-229 (Web app dev), 
following the steps of educational videos. Also the book Beginning Node.js, Express & MongoDB Development (2019)
by Greg Lim was consulted.  -->