   <!-- SCRIPT -->
   <html>
   <footer>
   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

   <script src="/Scripts/app.js"></script>
 <!-- </body> -->
 
    <h6>&reg;  Yoaltzin Xolalpa Briseño - 301184971</h6>
    <h6>  Assignment 1 </h6>
 </footer>
</html>