<!-- NAVBAR -->
<html>
<body>
   <!-- This nav bar is the one that allows the bar. it was taken from bootstrap -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><div class="rectangulo"> YXB</div>Assignment 1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-brands fa-codepen"></i> Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-crow"></i>About me</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"><i class="fa-solid fa-feather"></i>Project</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-regular fa-bookmark"></i>Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-regular fa-paper-plane"></i>Contact</a>
          </li>
  
    </div>
  </nav>
      <!-- MAIN NAVIGATION -->
      <div class="wrapper_home"> 
      <h1>Welcome to the <%= title %> web page</h1>
      <br>
      <br>
      <h2><i class="fa-brands fa-codepen">&nbsp; &nbsp; </i><%= title %></h2>
     <br>
       <h2>Mission Statement</h2>
      <br>  
      <p>The mission of this Web page is to share the projects and experience that I have gone trough. 
        This website was dessigned specifically for Web Application Developement course. 
        In this website you will be able to navigate from home, to About me, Projects, Contact and Services that are available.
        If you have any comment or inquiry, you can always write me in the "Contact me" page.</p>
        
        <br>
        <p> Best Regards.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
              <br>
      </div>
    </body>
    </html>