<!-- NAVBAR -->
<html>
<body>
   <!-- This nav bar is the one that allows the bar. it was taken from bootstrap -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><div class="rectangulo"> YXB</div>Assignment 1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-brands fa-codepen"></i> Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-crow"></i>About me</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"><i class="fa-solid fa-feather"></i>Project</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-regular fa-bookmark"></i>Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-regular fa-paper-plane"></i>Contact</a>
          </li>
  
    </div>
  </nav>
      <!-- MAIN NAVIGATION -->
      <div class="wrapper_home"> 
      <h1>Welcome to the <%= title %> web page</h1>
      <br>
      <br>
      <h2><i class="fa-solid fa-feather">&nbsp; &nbsp; </i><%= title %></h2>
      <br>
      <br>  
      <h4>Phyton</h4>
      <!-- <div class="circle">  --><img src="/Assets/images/twitter.jpg" width="300" style="float:left" > <!-- </div> -->
      <br>
      <br>
      <p>As a developer, one of my projects include a bot that automatically posts a tweet each 24 hrs on twitter.
        This was done with python, with the Tweepy library. My role is to develope the application and make twitter a tool that I can 
        get valuable data.</p>
        <br>
        <br>  
        <br> 
        <br>  
     <!--    <br> 
        <br>
        <br>  
        <br> 
        <br> 
        <br> -->
        <h4>SAP</h4>
        <!-- <div class="circle"> --><img src="/Assets/images/epayment.jpg" width="300" style="float:left" > <!-- </div> -->
        <br>
        <br>
        <p>As a SAP consultant I have done some standard customization for finances, also developed some add-ons transactions.
            The most important project has been related to e-document for mexico, covering solutions like e-payment and e-billing.
        </p>
        <br>
        <br>  
        <br> 
        <br>  
        <br> 
        <!-- <br>
        <br>  
        <br> 
        <br> 
        <br> -->
        <h4>HTML</h4>
       <!--  <div class="circle">  --><img src="/Assets/images/html.jpg" width="300" style="float:left" ><!--  </div> -->
        <br>
        <br>
        <p>Another projects that I have developed are webpages with basic HTML and CSS. All
        The projects have been school projects. As a developer, I continue to improve my technical skills day by day.
        Currently im working with node js and java.</p>
       
        <br>
        <br>
        <br>
        <br> 
        <!-- <br> 
        <br> 
              <br> -->
      </div>
    </body>
    </html>