<!-- NAVBAR -->
<html>
<body>
   <!-- This nav bar is the one that allows the bar. it was taken from bootstrap -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><div class="rectangulo"> YXB</div>Assignment 1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-brands fa-codepen"></i> Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-crow"></i>About me</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"><i class="fa-solid fa-feather"></i>Project</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-regular fa-bookmark"></i>Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-regular fa-paper-plane"></i>Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/book"><i class="fa-regular fa-paper-plane"></i>Book</a>
          </li>
  
    </div>
  </nav>
      <!-- MAIN NAVIGATION -->
      <div class="wrapper_home"> 
      <h1>Welcome to the <%= title %> web page</h1>
      <br>
      <br>
      <h2><i class="fa-regular fa-paper-plane"> &nbsp; &nbsp; </i><%= title %></h2>
     <br>
      
      <p>In case you have any inquiry or question, you can contact me by:
        <br>
        
        <br>
        <table class="default">

          <tr>
        
            <td><i class="fa-brands fa-twitter"></i> &nbsp; &nbsp; twitter: @bott_gl</td>
          </tr>

          <tr>
        
            <td><i class="fa-regular fa-envelope"></i>&nbsp; &nbsp; mail: yoxolalpa@my.centennialcollege.ca</td>
          </tr>

        </table>
      
      <br>
      <p>Or writte down your information and I will contact you as soon as possible:</p>
      <h6> Name* <input type="text" name="name" id="name" required="required"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLast Name* <input type="text" name="l_name" id="l_name" required="required"></h6>
<h6> Phone* <input type="text" name="phone" id="phone" required="required"></h6>
<h6> Email <input type="text" name="email" id="email"></h6>
      <p>Or if you prefer, you can write me anything here:
        <br><textarea name="Comments" id="Comments"
        rows="4" cols="60"></textarea></h4></form>
        <br>
        <br>
        <p> Best Regards.</p>
        <input type="submit" value="Submit" >
      </p>
      
        
        <br>
        
        <br>
        <br>
        <br>
                     <br>
      </div>
    </body>
    </html>

    
<!-- All the code expressed here was taken from COMP-229 (Web app dev), 
following the steps of educational videos. Also the book Beginning Node.js, Express & MongoDB Development (2019)
by Greg Lim was consulted.  -->