<!-- NAVBAR -->
<html>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><div class="rectangulo"> YXB</div>Assignment 1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-brands fa-codepen"></i> Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-crow"></i>About me</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"><i class="fa-solid fa-feather"></i>Project</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-regular fa-bookmark"></i>Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-regular fa-paper-plane"></i>Contact</a>
          </li>
  
    </div>
  </nav>
            <!-- MAIN NAVIGATION -->
            <div class="wrapper_home"> 
              <h1>Welcome to the <%= title %> web page</h1>
              <br>
              <br>
              <h2><i class="fa-solid fa-crow"></i> &nbsp; &nbsp; <%= title %></h2>
              <br>
             <br>  
             <h3> YOALTZIN XOLALPA BRISEÑO</h3>
             <br>
            
              <p>Born and raised in Mexico City, got a Business Administration degree at ITESM-CCM(2012). After graduating I
                started a career as SAP CONSULTANT focusing on finances and sales and distribution(2014-2021).
                My Native language is Spanish, but she can communicate in english too.
                Currently studying Computer Engineering Techonolgy at Centennial college.</p>
                <p>Some of my hobbies include:</p>
                <div class="img_yo"> <img src="/Assets/images/YXB.jpg" width="300" style="float:right"> </div>
                <ul>
                  <li>Reading (specially manga)</li>
                  <li>Stained Glass </li>
                  <li>Spend time with my dog</li>
                  <li>Story Telling</li>
                </ul>
                Some of my interest in IT are:
                <ul>
                  <li>Data transformation (ETL)</li>
                  <li>Big Data</li>
                  <li>Data Analytics</li>
                </ul>
              <br>
              <br>
              <h6> If you want to check more in detail my working career, you can find it here:</h6>
              <br>   
              <h5><a href="/Assets/CV_Yoaltzin_english.pdf" download><i class="fa-solid fa-scroll"></i> &nbsp; &nbsp; DOWNLOAD</h5></a>
              <br>
              <br>
              <br>
              
              
              </div>
            </body>
            </html>
  
  