<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= mainT %></h1>
    <p>Hello world 2</p>

    <script src="/Scripts/app.js"></script>
  </body>
</html>
