/* css */
  /*  Student: Yoaltzin Xolalpa
   ID: 301184971
   DATE: 05.10.22
   Assignment 1  */
/* The css taken for the background was taken from the website: https://www.magicpattern.design/tools/css-backgrounds .
the pictures were taken from fontawesome, personal images and https://unsplash.com/es/fotos/D3yfiuKCP_I */

body{
    background-color: #212529;
    /* opacity: 0.8; */
    background: radial-gradient(circle, transparent 20%, #212529 20%, #212529 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #212529 20%, #212529 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#723365 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #723365 2px, #212529 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    font-size: 14px;
    width: 890px;
    margin: 0 auto;
    
}

.rectangulo{
    width: 75px; 
    height: 75px; 
    background-image: linear-gradient(to right, rgba(194, 235, 152, 0), rgb(0, 195, 255));

    position: relative;
    display: block; /*flex */
    text-align: right;
    justify-content: right;
    
    left: 20%;
    font-size: 30px;
    color: white
}

.wrapper_home{
    width: 890px;
    margin: 0 auto;
    background-color: #c9b4ed
}

.wrapper_home2{
    width: 890px;
    margin: 0 auto;
    text-align: center;
   
}

.assi{

    left: 100px;
    top: 150px;
}

.circle{
    float: left;
        width: 430px;
        height: 300px;
       
    
}

/* .wrapper_foot{
     background-color: rgb(255, 153, 102);
        color: rgb(0, 0, 0);
        bottom:700px;
        position: absolute;
        
} */
